{% extends 'base.html' %}

{% block title %}УбирайКА | iCal Network | Услуга | {{ service.title }}{% endblock %}

{% block content %}

    <main role="main">
        <div class="container">
            <div class="row">
                <div class="my-3 col-12 col-sm-10 col-md-9 col-lg-7 mx-auto">
                    <form id="editForm">
                        {% csrf_token %}
                        <div class="card text-center">
                            <div class="card-header">
                                {{ service.user_service_pk.last_name }} {{ service.user_service_pk.name }}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title w-75 mx-auto"><input name="title" type="text" class="form-control"
                                                                           required value="{{ service.title }}"></h5>
                                <p class="card-text"><textarea maxlength="300" name="description" class="form-control"
                                                               rows="6">{{ service.description }}</textarea></p>
                            </div>
                            <div class="card-footer clearfix">
                                <div class="float-md-left">
                                    <span class="material-icons">call</span>
                                    {{ service.user_service_pk.phone }}
                                </div>
                                <div class="float-md-right">
                                    <div class="input-group w-75 float-right">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputGroupSelect01">Цена: </label>
                                        </div>
                                        <input name="price" type="text" class="form-control" aria-label="price"
                                               value="{{ service.price }}" aria-describedby="basic-addon1"
                                               id="inputGroupSelect01">
                                        <div class="input-group-append">
                                            <label class="input-group-text" for="inputGroupSelect01">₽</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-muted clearfix">
                                <div class="float-md-right">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputGroupSelect01">Услуга: </label>
                                        </div>
                                        <select name="type-name" class="custom-select" id="inputGroupSelect01">
                                            {% for type_ in types %}
                                                <option value="{{ type_.name }}" {% if type_.name == service.service_type_pk.name %}selected{% endif %}>{{ type_.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="float-md-left">{{ service.date|date:"d.m.y" }}</div>
                            </div>
                            <div class="card-footer clearfix">
                                <div class="float-left">
                                    <button type="submit" class="btn btn-primary" formaction="{% url 'service' pk_service=service.service_pk %}" id="editButton">Изменить</button>
                                </div>
                                <div class="float-right">
                                    <button type="submit" class="btn btn-danger" formaction="{% url 'service' pk_service=service.service_pk %}" id="deleteButton">Удалить</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block javascript %}
    {% load static %}
    <script src="{% static 'js/ajaxForms.js' %}"></script>
{% endblock %}